body {
  padding-top: 70px;
}

.card-body {
  padding: 0.5rem;
}

.calendar-badge{
  font-size: 75%;
  cursor: pointer;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.calendar-badge:hover, .calendar-badge:focus{
  font-size: 100%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
